.title-back-btn {
    border: 0;
    border-right: 1px solid #cccccc;
    background-color: transparent;
    padding: 1px;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: auto;
}

.title-area {
    margin-bottom: 20px;
}

.title-back-btn img {
    height: 20px;
    width: 10px;
}

a.title-back-btn {
    position: relative;
    top: 3px;
    padding-bottom: 14px;
}

.linksBody {
    p{
        font-size: 1.1em;
    }
}

.item-title {
    font-size: 1.5rem;
    color: #0b4e78 !important;
    padding-left: 10px;
}

.linksDescription {
    border-bottom: 1px solid #CCCCCC;
    padding: 10px;
}

.popover-title {
    border-bottom: 2px solid #CCCCCC;
}