/* Footer Styles */

.footer {
    padding: 37px 0 51px 0;
    text-align: center;
    color: #555555;
}

span.footer-content {
    white-space: nowrap;
    padding: 0 4px 0 0;
    border-right: 1px solid #555555;
}

span.footer-end {
    border-right  : 0px;
}