@import 'sass/colors.scss';

.important-header {
    padding: 0px !important;
}
.important-title {
    background-color: $app-primary;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $app-title1), color-stop(1, $app-title2));
    background-image: -o-linear-gradient(bottom, $app-title1 0%, $app-title2 100%);
    background-image: -moz-linear-gradient(bottom, $app-title1 0%, $app-title2 100%);
    background-image: -webkit-linear-gradient(bottom, $app-title1 0%, $app-title2 100%);
    background-image: -ms-linear-gradient(bottom, $app-title1 0%, $app-title2 100%);
    background-image: linear-gradient(to bottom, $app-title1 0%, $app-title2 100%);
    box-shadow: 3px 5.196px 16px 0px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid $app-title3;
    padding: 10px;
    display: inline-block;
    width: 100%;
}

.important-title h4 {
    color:white;
}

.important-body {
    background: none;
}