/*  Update these to your app name  */
$app-primary: $rx;
$app-title1: $rx;
$app-title2: $rx;
$app-title3: $rx;
$menu-border-left: $rx-menu-border-left;
$menu-border-right: $rx-menu-border-right;

$primary-btn-color1: #2A2B39;   /* Dark grey button color */
$primary-btn-color2: #20202B;
