@import 'sass/colors.scss';

.med-container {
    border-bottom: 1px solid #CCCCCC;
    padding: 10px 0 10px 0;
}

.see-detail-link {
    text-align: center;
    padding: 10px;
}

.list-count {
    text-align: center;
    
}

.status-value {
    color: $pf-title3;
}